/*
* @Author: zziil
* @Date:   2016-05-24 19:31:37
* @Last Modified by:   zziil
* @Last Modified time: 2016-05-27 10:42:18
*/

body {
    background-color: #eee;
    font-weight: lighter;
    transition: 1s;
}

.stage{
	width: 320px;
	position: absolute;
	top: 0px;
	left: 50%;
    margin-left: -160px;
}
.time {
    text-align: center;
    font-size: 0;
}

.time .day-box {
    font-size: 0px;
    font-weight: lighter;
    -webkit-perspective: 200;
    perspective: 200;
}

.time .day-box span {
    font-size: 30px;
    vertical-align: bottom;
    line-height: 1;
    display: inline-block;
}
.blue{
    color: #3088ff;
}
.time .day-box .ten,
.time .day-box .unit {
    font-size: 80px;
    line-height: 60px;
    transition: 0.5s linear;
    width: 50px;
}

.time .day-box .unit {
}
.time .p{
    font-size: 30px;
}
.center{
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}
.hide{
	opacity: 0;
}
.blur { 
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
}